body{ background:#EAEAEA; font:white;}
#whole{
	margin:0px auto;
	padding:0px 0px;
	background:#F1F1F1;
	width:1600px;
	height:2200px;
}
header{
	height:258px;
	width:1600px;
	padding:0px 0px;
	margin:0px 0px;
}
nav{
	height:50px;
	width:1600px;
	padding:0px 0px;
	margin:0px auto;
	background:#999999;
	position:relative;
	top:0px;
	opacity:1;
}
#content{
	width:1600px;
	height:3750px;
	margin:0px auto;
	padding:0px 0px;
	box-shadow:-3px 0px 6px #999999;
}
aside{
	width:24.9%;
	height:3750px;
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	/*background:rgba(#CCCCCC,0.8);*/
	background:#E8E8E8;
	border-bottom:1.5px dashed #999999;
	box-shadow:3px 0px 6px #FEFCF1;
	position:relative;
	
}

article{
	width:75%;
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	background:#FEFCF1;
	box-shadow:3px 0px 6px #999999;
}
footer{
	font:13px "华文楷体";
	height:80px;
	width:1590px;
	padding:5px;
	margin:0px auto;
	clear:both;
	background:#000000;
	color:#CCCCCC;
}
.ultwo{
	width:1600px;
	list-style-type:none;
	text-align:right;
	marin:0px 0px;
	color:#EAEAEA;
}
.litwo{
	float:left;
	position:relative;
	top:7px;
	left:850px;
	width:130px;
    color: #EAEAEA;
	padding:2px 0px;
	font:25px "方正姚体";
}
.litwo a{
	text-decoration:none;
	color:#EAEAEA;
	font:25px "方正姚体";
	}
.litwo a:hover{
	color:#FFFFFF;
	text-shadow: #C08738 2px 2px 4px;}
.ulone{
	width:300px;
	height:200px;
	list-style-type:none;
	text-align:left;
	margin:80px 5px;
}
.lione{
	width:180px;
	height:30px;
	padding:10px 0px 10px 80px;
	margin:10px auto;
	font:25px "方正姚体";
	background-image:url(../图片素材/公司简介导航.png);
}
.lione a{
	width:200px;
	height:30px;
	text-decoration:none;
    color: #FFFFFF;
	font:25px "方正姚体";
	}
.lione a:hover{
	width:200px;
	height:30px;
	color: #FFFFFF;
	text-shadow:#000000 2px 2px 4px;
}

.div01{
	background-image:url(../图片素材/标题框.png);
	width:239px;
	height:80px;
	margin:100px auto 30px auto;
	padding:0px 0px;
	z-index:1;
	position:relative;
}
.topbartable{width:1600px;height:15px;font:13px gray "宋体";margin:0px 0px 0px 0px;padding:0px 0px; background-color:#EAEAEA;}
.img08{width:1200px; height:80px;margin:0px 0px; padding:0px 0px;}
.img10{ width:400px; height:30px;margin:0px auto; position:relative; left:400px;}
.img09{ width:200px; height:280px; margin:0px auto; border:solid 2px #CCCCCC;box-shadow:3px 3px 6px #444444;}
.table01{ width:1100px; height:300px; border:1px dotted #CCCCCC;margin:30px auto; padding:0px 0px; text-align:center;}
.table02{ width:1100px; height:400px; border:1px dotted #CCCCCC;margin:30px auto 70px auto; padding:0px 0px; text-align:center;}
.table03{width:1150px; height:200px; border:3px solid #CCCCCC; margin:20px auto; position:relative;top:-30px;}
.table04{ width:1000px; height:200px; margin:0px 100px 10px 100px; border-bottom:5px dotted #FEEFC9; border-top:5px dotted #FEEFC9;}
.p03{ font:17px "幼圆";color:#064360; float:left; position:relative;left:20px; margin:8px 0px;}
.p04{ font:22px "方正姚体"; color:#996633;float:right;margin:0px 0px;position:relative;right:20px; font-weight:bolder;}
.p05{font:17px "宋体"; color:#666666; clear:both; text-align:left;margin:5px 0px;position:relative;left:20px; font-weight:bold;}
.p06{font:13px "宋体"; color:#CCCCCC; clear:both; text-align:center;margin:15px 0px 0px 0px;}
.p01{font:28px "方正姚体"; color:#000000; text-shadow:2px 2px 5px #985F10; position:relative;left:70px;top:22px; opacity:0.8; z-index:1;	position:relative;}
.p02{width:90%;margin:0px auto; padding:0px 0px;font:20px "幼圆"; color:#333333; text-indent:50px; line-height:200%; letter-spacing:5px; z-index:1;	position:relative;}
.p03{ font:17px "幼圆";color:#064360; float:left; position:relative;left:20px; margin:8px 0px;}
.p04{ font:22px "方正姚体"; color:#996633;float:right;margin:0px 0px;position:relative;right:20px; font-weight:bolder;}
.p05{font:17px "宋体"; color:#666666; clear:both; text-align:left;margin:5px 0px;position:relative;left:20px; font-weight:bold;}
.p06{font:13px "宋体"; color:#CCCCCC; clear:both; text-align:center;margin:15px 0px 0px 0px;}
.p07{ font:35px "华文琥珀";color:#014156;  margin:50px 0px 30px 0px; text-align:left; clear:both; position:relative;left:150px;}
.p08{font:19px "宋体"; color:#CCCCCC; float:left; left:110px;top:15px;text-align:left;margin:15px 0px 60px 10px;}
.p09{font:22px "幼圆";width:900px;color:#064360; float:right; position:relative;left:0px; margin:10px 0px; text-align:left;}
.p10{font:25px "幼圆"; color:#FFFFFF;float:left; position:relative;left:0px; top:0px;}
.p11{font:25px "幼圆"; color:#FFFFFF; text-align:left;}
.p12{font:25px "幼圆"; color:#333333; text-align:center;}
.p13{font:25px "幼圆"; color:#333333; text-align:left;}
.p14{font:35px "隶书"; color:#663300; text-align:left;}
.p15{ font:40px "华文琥珀";color:#014156; margin:20px auto;}
.checkbox02{ width:30px; height:30px; margin:23px 10px; padding:0px 0px;float:left;}